.cvmakerError
{
  font-size: 10px;
  border: 2px red solid;
  padding:2px;
  background-color: #F08080;
}

.cvmakerSuccess
{
  font-size: 10px;
  border: 2px blue solid;
  padding:2px;
  background-color: #2EA2CC;
}


.cvmakerFormloader {
	font-size: 13px !important;
	width:100%;
	vertical-align: top;
}

.cvmakerformLine
{
  height:30px;
  vertical-align: middle;
  display: block;
	width:100%;
}

#cvmakerFormClose
{
  text-decoration: none !important;
  cursor: pointer;
}

#cv-content
{
	vertical-align: top; 
	display: inline-block; 
	padding:10px; 
	border: 3px solid #F8A22B; 
	width: 100%;
	background-image:url(../images/bg.jpg);
	color: #ffffff;
}

#cv-save
{
	vertical-align: top; 
	padding:10px; 
	border: 3px solid #F8A22B; 
	text-align:center;
	background-image:url(../images/bg.jpg);
	color: #ffffff;
}

#cv-layout
{
	vertical-align: top; 
	padding:10px; 
	border: 3px solid #F8A22B;
	background-image:url(../images/bg.jpg);
	color: #ffffff;
}

.cvmakertextfield
{ 
  height: 30px !important;
  padding: 0px 0px 0px 4px !important;
  width: 100% !important;
  font-size: 12px !important;
  border: 3px solid #efefef !important;
  border-radius: 0px;
	color: #222222;
}


.cvmakerlabel
{
  font-size: 14px !important;
  font-weight: bold !important;
}

.cvmaker-button
{

	font-size: 12px;
	margin-right: 3px;
	margin-top: 2px;
	padding:4px;
	line-height: 18px;
	background: #eeeeee;
	color: #222222;
	text-align: center;
	border: 0;
	transition: all 0.3s ease 0s;
	border-radius: 4px;
}

.cvmaker-button:hover {
  background: #dddddd
}

.cvinlineblock
{
	display:inline-block;
	margin:0;
	width: 47%;
	vertical-align: top;
	font-size:12px;
	text-align:left;
}


.cvsidebar
{
	vertical-align: top; 
	display: inline-block; 
	padding-top:20px; 
	margin-right:4px;
	width:98px;
}
.cvsidebar > button
{
	font-size: 10px;
	width: 100%;
	line-height: 12px;
	height:35px;
}

.cvmakerloader
{
	width: calc(100% - 108px); 
	vertical-align: top; 
	display: inline-block;
	text-align:center;
}

.cvsimpleline, .cvsimpleline:focus
{
	font-size: 12px; 
	width:96% !important;
	text-align:left;
	border: 3px solid #efefef;
	height: 30px !important;
  padding: 0px 0px 0px 4px !important;
	color: #222222;
}

.cvtextarea, .cvtextarea:focus
{
	width: 96%;
	border: 3px solid #efefef;
	height:150px;
	font-size: 12px;
	margin-bottom: 10px;
  padding: 0px 0px 0px 4px !important;
	color: #222222;
}

@media screen and (max-width: 800px) {
.cvtextarea, .cvtextarea:focus 
{
		width: 100%;
}
.cvsimpleline, .cvsimpleline:focus
{
	width: 100%  !important;
}
.cvsidebar
{
	display:block;
	width: 100%;
	margin: 0;
	vertical-align: top;
	text-align:center;
	padding-top:10px;
}

.cvmakerloader
{
	width: 100%;
}

.cvinlineblock
{
	width:100%;
}

.cvsidebar > button
{
	height: 37px;
	line-height: 12px;
	width: 31%;
	vertical-align:top;
}

.cvtextarea
{
	width: 100%;
}

}

@media screen and (max-width: 400px) {
.cvsidebar > button
{
	width: 100%;
	height: auto;
}
}

.cvsupersmall
{
	font-size:9px;
}

.cvhr{
	margin:0px !important;
	margin-bottom: 10px !important;
	margin-top:10px !important;
	border: 2px solid #efefef;
}

.headTitle
{
	width: 100%; 
	text-align: center; 
	font-size: 18px; 
	font-weight: bold; 
	margin-top: 0; 
	margin-bottom: 15px;
	border-bottom: 3px solid #efefef; 
	padding-bottom: 10px; 
	color: #ffffff;
}

.cvtabbtnpressed
{
	font-size: 10px;
	border: 3px solid #F8A22B; 
	background-color: #F8A22B; 
	color: #fff;	
	border-top-left-radius: 6px;	
	border-top-right-radius: 6px;
	border-bottom: 0;
	width: 31%;
	min-height:35px;
}

.cvtabbtnpressed:hover, .cvtabbtnpressed:active
{
	border: 3px solid #F8A22B; 
	background-color: #F8A22B;
	border-bottom: 0;
	min-height:35px;
}

.cvtabbtn, .cvtabbtn:active 
{
	font-size: 10px;
	border: 3px solid #efefef; 
	background-color: #efefef; 
	color: #333333;	
	border-top-left-radius: 6px;	
	border-top-right-radius: 6px;
	border-bottom: 0;
	width: 31%;
	min-height:35px;
}
.cvtabbtn:hover
{
	background-color: #999999;
	border-color: #999999;
	color: #fff;
}

.top30
{
	padding-top:30px !important;
}

.cvmakerlistitem
{
	border: 3px solid #ccc;
	margin-bottom: 3px;
	padding:4px;
	display:inline-block;
	line-height: 15px;
	color: #222222;
	background-color: #efefef;
	font-size:12px;
	width: calc(100% - 95px);
	text-align:justify;
}

.deletecontainer
{
	display:inline-block;
	margin-left: 3px;
	vertical-align: top;
	height: 30px;
	width: 86px;
}

#cvmaker-education
{
	vertical-align: top;
}

#f1_upload_process{
   z-index:100;
   position:absolute;
   visibility:hidden;
   text-align:center;
   width:400px;
   margin:0px;
   padding:0px;
   background-color:#fff;
   border:1px solid #ccc;
}

.cvbuttona
{
	text-decoration: none;
	border: 1px solid #ccc;
}

.deletebutton
{
	background-color: #BA0001;
}

.editbutton, .canceledit
{
	background-color: #333333;
	color:#ffffff;
}

.withcurves
{
	border-bottom-left-radius: 6px;	
	border-bottom-right-radius: 6px;	
	border-top-right-radius: 6px;
}

.cv-table 
{
	text-align:center !important;
	border-width: 0 0 0 0 !important;
	border: 0px solid #fff !important;
	width:33%;
	padding-bottom:20px;
}
